<h1>Angular</h1>
<!-- <courses></courses>  -->

<!-- [isFavorite] is property of favorite element-->
<!-- Pass $event object to  onFavoriteChanged() function-->
<!-- <favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite> -->

<!-- ngContent -->
<bootstrap-panel>
    <ng-container class="heading">Heading</ng-container> 
    <div class="body">
        <h2>Body</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat veniam iusto illum possimus dolorum, repellendus quisquam aliquam molestiae laborum sapiente accusamus nihil nisi laboriosam, maxime fuga unde officiis esse suscipit?</p>
    </div>
</bootstrap-panel>